<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Full Stack Web Developer based in New York City offering Website Development and Design Services. Let's build something together!">
    <meta name="author" content="Anthony Duque">
    <title>Web Developer - New York | Anthony Duque</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>

  <body>

    <%= yield %>

    <%= render "layouts/header" %>



  </body>
</html>
