<!DOCTYPE html>
<html>
  <head>
    <title>Web Development & Design services in New York City | Anthony Duque</title>
    <meta name="keywords" content="web developer, web designer, web design, web development, affordable website design nyc, freelance web developer, freelance web designer, best freelance web developer, best freelance web designer, nyc website developer, nyc web designers, nyc freelance web developer">
    <meta name="description" content="Freelance Web Developer based in New York">
    <meta name="author" content="Anthony Duque">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>

  <body>

    <%= yield %>

    <%= render "layouts/header" %>



  </body>
</html>
